# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries / coverage
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# env file (local secrets)
.env

# Editor/IDE
.idea/
.vscode/
.DS_Store
